test.py
1._Bundesliga_2024_flat.json
test_single_player.py
output/2. Bundesliga_1.FC Kaiserslautern_2.json
output/2. Bundesliga_1.FC Köln_3.json
output/2. Bundesliga_1.FC Magdeburg_187.json
output/2. Bundesliga_1.FC Nürnberg_4.json
output/2. Bundesliga_Eintracht Braunschweig_23.json
output/2. Bundesliga_FC Schalke 04_33.json
output/2. Bundesliga_Fortuna Düsseldorf_38.json
output/2. Bundesliga_Hamburger SV_41.json
output/2. Bundesliga_Hannover 96_42.json
output/2. Bundesliga_Hertha BSC_44.json
output/2. Bundesliga_Karlsruher SC_48.json
output/2. Bundesliga_Preußen Münster_91.json
output/2. Bundesliga_SC Paderborn 07_127.json
output/2. Bundesliga_SpVgg Greuther Fürth_65.json
output/2. Bundesliga_SSV Jahn Regensburg_109.json
output/2. Bundesliga_SSV Ulm 1846_69.json
output/2. Bundesliga_SV 07 Elversberg_64.json
output/2. Bundesliga_SV Darmstadt 98_105.json
output/3. Liga_Borussia Dortmund II_17.json
output/3. Liga_FC Hansa Rostock_30.json
output/3. Liga_FC Ingolstadt 04_4795.json
output/3. Liga_SG Dynamo Dresden_129.json
output/3. Liga_VfB Stuttgart II_102.json
output/Bundesliga_1.FC Heidenheim 1846_2036.json
output/Bundesliga_1.FC Union Berlin_89.json
output/Bundesliga_1.FSV Mainz 05_39.json
output/Bundesliga_Bayer 04 Leverkusen_15.json
output/Bundesliga_Borussia Dortmund_16.json
output/Bundesliga_Borussia Mönchengladbach_18.json
output/Bundesliga_Eintracht Frankfurt_24.json
output/Bundesliga_FC Augsburg_167.json
output/Bundesliga_FC Bayern München_27.json
output/Bundesliga_FC St. Pauli_35.json
output/Bundesliga_Holstein Kiel_269.json
output/Bundesliga_RB Leipzig_23826.json
output/Bundesliga_SC Freiburg_60.json
output/Bundesliga_SV Werder Bremen_86.json
output/Bundesliga_TSG 1899 Hoffenheim_533.json
output/Bundesliga_VfB Stuttgart_79.json
output/Bundesliga_VfL Bochum_80.json
output/Bundesliga_VfL Wolfsburg_82.json
